:root {
  --accent-color: #6a11cb;
}

body.dark {
  background-color: #1a202c;
  color: #e2e8f0;
}

input[type="text"]:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 1px var(--accent-color);
}

#weatherOutput,
#fiveDayForecast {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#weatherOutput.loaded,
#fiveDayForecast.loaded {
  opacity: 1;
  transform: translateY(0);
}

.forecast {
  display: flex;
  align-items: center;
  background-color:transparent;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dark .forecast {
  background-color: #2d3748;
  color: #e2e8f0;
}

.forecast img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.forecast h3 {
  font-size: 18px;
  
  margin: 0;
  flex: 1;
}

.forecast p {
  margin: 5px 0;
}

.hidden {
  display: none;
}
